################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VocableTrainer/obj/Debug/VocableTrainer.csprojAssemblyReference.cache
